<div class="modal fade" id="trampoline-create-modal" tabindex="-1" role="dialog" aria-labelledby="trampoline-create-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title tertiaryHeading">Create a Trampoline Routine</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form">

          <div class="form-group">
            <label for="first_name" class="col-sm-4 control-label">Name</label>
            <div class="col-sm-8">
              {{ input value=name class="form-control"}}
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-4 control-label">Skill 1:</label>
            <div class="col-sm-8">
              {{ input value=skill1 class="form-control" }}
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-4 control-label">Skill 2:</label>
            <div class="col-sm-8">
              {{ input value=skill2 class="form-control" }}
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-4 control-label">Skill 3:</label>
            <div class="col-sm-8">
              {{ input value=skill3 class="form-control" }}
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-4 control-label">Skill 4:</label>
            <div class="col-sm-8">
              {{ input value=skill4 class="form-control" }}
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-4 control-label">Skill 5:</label>
            <div class="col-sm-8">
              {{ input value=skill5 class="form-control" }}
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-4 control-label">Skill 6:</label>
            <div class="col-sm-8">
              {{ input value=skill6 class="form-control" }}
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-4 control-label">Skill 7:</label>
            <div class="col-sm-8">
              {{ input value=skill7 class="form-control" }}
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-4 control-label">Skill 8:</label>
            <div class="col-sm-8">
              {{ input value=skill8 class="form-control" }}
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-4 control-label">Skill 9:</label>
            <div class="col-sm-8">
              {{ input value=skill9 class="form-control" }}
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-4 control-label">Skill 10:</label>
            <div class="col-sm-8">
              {{ input value=skill10 class="form-control" }}
            </div>
          </div>

          <div class="form-group">
            <label for="description" class="col-sm-4 control-label">Description</label>
            <div class="col-sm-8">
              {{ textarea value=description class="form-control" }}
            </div>
          </div>

        </form>
      </div>    

      <div class="modal-footer">
        <button type="button" {{ action 'cancel' target='view'}} class="btn btn-danger">Cancel</button>
        <button type="button" {{ action 'save' target='view'}} class="btn btn-primary">Save {{name}}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->