<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="row">
          <div class="col-sm-6 col-md-2">
            <i {{bind-attr class=":fa genderClass"}} style="font-size:160px"></i>
          </div>
          <div class="col-sm-6 col-md-10">
            <h1 class="athlete-header">{{ fullName }}</h1>
            <i class="fa fa-edit athlete-edit"></i>
            <p style="margin-top:20px">
              <span><i class="fa fa-group"></i> {{ team }}</span><br />
              <span><i class="fa fa-calendar"></i> {{ format-date birthday 'LL' }}</span><br />
            </p>
          </div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <h3>Levels</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3">
          <h4>Trampoline</h4>
          <label for="trampoline_level">Level:</label>
          {{ trampolineLevelLabel }}
        </div>
        <div class="col-lg-3">
          <h4>Synchro</h4>
          <label for="synchro_level">Level:</label>
          {{ synchroLevelLabel }}
        </div>
        <div class="col-lg-3">
          <h4>Double Mini</h4>
          <label for="doublemini_level">Level:</label>
          {{ doubleminiLevelLabel }}
        </div>
        <div class="col-lg-3">
          <h4>Tumbling</h4>
          <label for="tumbling_level">Level:</label>
          {{ tumblingLevelLabel }}
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3">
          <h3>Routines</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <button class="btn btn-info" {{action 'showEditAthlete'}}>Edit</button>
  </div>
</div>

{{outlet}}
